@import '../../../styles/main';
.art-item {
	flex: 1 100%;
	display: flex;
	align-items: center;
	padding: 20px 0;
	flex-direction: column;
	@media (min-width: 600px) {
		flex: 1 40%;
		flex-direction: row;
	}
	&__logo {
		.art__circle {
			border-radius: 50%;
			background: $gray-light;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 15px;
			img {
				max-height: 230px;
				max-width: 300px;
			}
		}
	}
	&__content {
		text-align: center;
		margin-top: 20px;
		@media (min-width: 600px) {
			text-align: left;
			margin-top: 0;
		}
		h4 {
			color: $light;
			margin-bottom: 5px;
		}
	}
	.rp-card {
		&__buttons {
			margin-top: 10px;
		}
	}
}
